#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.input-box{
  color: black;
  border-radius: .5rem;
  padding: 8px;
  font-size: 18px;
}
.add-btn{
  border: none;
  padding: 0.5rem .5rem;
  gap: 8rem;
  cursor: pointer;
  margin-left: 2rem;
}
.add-btn:hover{
  opacity: 0.8;
  background-color: darkgreen;
}
.to-do{
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  color: black;
  border-radius: .5rem;
  padding: 8px;
  font-size: 18px;
}

.header{
  color: purple;
  font-size: 2rem;
  margin-bottom: 4rem;
}

.edit-btn{
  border: none;
  padding: 0.5rem .5rem;
  gap: 4rem;
  cursor: pointer;
  margin-left: 8rem;
  margin-right: 1rem;
}
.edit-btn:hover{
  opacity: 0.8;
  background-color: aquamarine
}
.delete-btn{
  border: none;
  padding: 0.5rem .5rem;
  gap: 8rem;
  cursor: pointer;
  
}
.delete-btn:hover{
  opacity: 0.8;
  background-color: red;
}
.add-btn{
  border: none;
  padding: 0.5rem .5rem;
  gap: 8rem;
  cursor: pointer;
}
.add-btn:hover{
  opacity: 0.8;
  background-color: darkgreen;
}